<a href="https://colab.research.google.com/github/engineerbaz/Certified-Python-Saylani-/blob/master/assignments/Assignment_02_Python_saylani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question # 01

In [42]:
u = int(input ("Enter Urdu marks "))
e = int(input ("Enter English marks "))
m = int(input ("Enter Math marks "))
s = int(input ("Enter Science marks "))
c = int(input ("Enter Computer marks "))
marks = int(u + e + m + s + c)
# marks = int(marks)
print ("Total Marks of all Subjects" , marks)
per = marks/5
tot = int(per)
print ("Percentage of all Subjects :" , tot, "%")
if tot >= 80:
  print ("Grade is A-1")
elif tot >= 71 and tot < 80:
  print ("Grade is A")
elif tot >= 61 and tot < 70:
  print ("Grade is B")
elif tot >= 51 and tot < 60:
  print ("Grade is C")
else:
  print ("Grade is FAIL")

Enter Urdu marks 68
Enter English marks 66
Enter Math marks 55
Enter Science marks 66
Enter Computer marks 58
Total Marks of all Subjects 313
Percentage of all Subjects : 62 %
Grade is B

Question # 02

In [44]:
c = int(input ("Enter Number "))
c = int(c)

if c%2==0:
  print ("Number is EVEN")
else:
  print ("Number is ODD")

Enter Number 4
Number is EVEN

Question # 03

In [46]:
test_list = [ 4, 24, 3, 1, 8 ] 
 
print ("The list is : " + str(test_list)) 
counter = 0
for i in test_list:    
    counter = counter + 1

print ("Length of list using naive method is : " + str(counter))

The list is : [4, 24, 3, 1, 8]
Length of list using naive method is : 5

Question # 04

In [61]:
test_list = [ 4, 2, 5, 9, 8 ] 
c = 0
for ele in range(0, len(test_list)): 
    c = c + test_list[ele] 
  
# printing total value 
print("Sum of all elements in given list: ", c)

Sum of all elements in given list:  28

Question # 05

In [0]:
test_list = [ 4, 2, 5, 9, 8 ] 
max = test_list[ 0 ]
 for a in test_list:
   if a > max:
     max = a
 return max
print("Max number in list is " , max)

Question # 06

In [67]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for i in a:

    if i < 5:

        print(i)

1
1
2
3